#Indicate here the remote parameters
#REMOTE_USERNAME = INDICATE-YOUR-LOGIN
#REMOTE_MACHINE = iftpserv2.insa-lyon.fr
#REMOTE_FOLDER = ~/RaspSandbox

#SDCARD=/INDICATE/SDCARD/PATH

#Please uncomment the OS for which you want to compile
#Default value: OS_RASP
#OS = OS_RASP
#OS = OS_LINUX


#Please uncomment the squeduler you want the kernel to use
#Default value: KERNEL_STRATEGY_ROUNDROBIN_MONO
#SQUEDULER = KERNEL_STRATEGY_ROUNDROBIN_MONO
#SQUEDULER = KERNEL_STRATEGY_ROUNDROBIN_MULTI
#SQUEDULER = KERNEL_STRATEGY_COLLABO


#Choose of which mutex implementation must be used
#Default value: MUTEX_STANDARD
#MUTEX = MUTEX_STANDARD
#MUTEX = MUTEX_SECURE
